<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>GroupApiServlet</servlet-name>
        <servlet-class>com.pccrovers.tracker.api.GroupApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GroupApiServlet</servlet-name>
        <url-pattern>/group/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.pccrovers.tracker.api.auth.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginCallbackServlet</servlet-name>
        <servlet-class>com.pccrovers.tracker.api.auth.LoginCallbackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginCallbackServlet</servlet-name>
        <url-pattern>/auth/callback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.pccrovers.tracker.api.auth.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/auth/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OAuth2Servlet</servlet-name>
        <servlet-class>com.pccrovers.tracker.api.auth.OAuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OAuth2Servlet</servlet-name>
        <url-pattern>/oauth2/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OAuth2CallbackServlet</servlet-name>
        <servlet-class>com.pccrovers.tracker.api.auth.OAuthCallbackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OAuth2CallbackServlet</servlet-name>
        <url-pattern>/oauth2/callback</url-pattern>
    </servlet-mapping>

</web-app>
